<h1>Cocktails#show</h1>
<ul>
  <li>
    <p>
      <strong>Name: </strong>
      <%= @cocktail.name %>
    </p>
  </li>
  <li>
    <p><strong>Ingredients: </strong></p>
    <ul>
      <% @cocktail.ingredients.each do |ingredient| %>
        <% dose = Dose.where(cocktail: @cocktail, ingredient: ingredient)[0] %>
        <li><%= ingredient.name %> - dose: <%= dose.description %> - <%= link_to "delete dose", dose_path(dose), method: :delete %></li>
      <% end %>
    </ul>
  </li>
  <li>
    <%= link_to "add ingredient", new_cocktail_dose_path(@cocktail) %>
  </li>
  <li>
    <%= link_to "Index", cocktails_path %>
  </li>
</ul>

