<div class="container">
  <h2>Add an dose for <%= @cocktail.name %></h2>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= @dose.errors.messages[:cocktail][0] if @dose.errors.messages[:cocktail][0] %>
    <%= f.submit "add a dose", class: "btn btn-primary" %>
  <% end %>
</div>
